In [209]:
import os, sys, warnings
from pathlib import Path
warnings.filterwarnings('ignore')
%load_ext autoreload
%autoreload 2
#sys.path.insert(0, os.path.abspath(os.path.join(Path.home(), "rpa_libs")))

from selenium.webdriver.common.by import By 
from selenium.webdriver.common.keys import Keys

# Nossas libs
#import app
#from plugins.selenium.selenium import Selenium

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [210]:
# Exemplo de uso do arquivo de configuração
#app.redefine_config('caminho do seu arquivo .yaml')
#teste
import pandas as pd

In [211]:
from selenium import webdriver
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.chrome.service import Service

In [212]:
driver = webdriver.Chrome(service=Service(ChromeDriverManager().install().replace("THIRD_PARTY_NOTICES.", "")))

In [213]:
url = 'https://www.coingecko.com/pt'

In [214]:
driver.get(url)

In [215]:
table = driver.find_element(By.XPATH, '/html/body/div[2]/main/div/div[5]/table')

In [216]:
rows = table.find_elements(By.XPATH, './/tbody//tr')

In [354]:
table_data = []

In [355]:
for row in rows:
    cells = row.find_elements(By.XPATH, './/td')
    table_data.append([cell.text for cell in cells])

In [356]:
headers = [header.text for header in table.find_elements(By.XPATH, './/thead//th')]
headers = [item for item in headers if item]
#table_data = [[cell for cell in row if cell.strip()] for row in table_data]

In [379]:
list(headers)

['#',
 'Moeda',
 'Preço',
 '1 h',
 '24 h',
 '7 d',
 'Volume em 24 h',
 'Capitalização de mercado',
 'Últimos 7 dias']

In [378]:
#list(table_data)

In [381]:
df = pd.DataFrame(table_data)
df_treated = df.loc[:, (df != '').any(axis=0)]
#df_treated = df_treated.drop(df.columns[3], axis=1)

In [377]:
#df.style
#df.style.highlight_max()
#df.style.highlight_null(null_color="green")
#df.style.set_na_rep("OutofScope").highlight_null(null_color="orange")
#df.style.background_gradient()
#df.style.set_properties(**{'border': '1.3px solid black',
 #                         'color': 'white'})
#df.style.hide_index()

AttributeError: 'Styler' object has no attribute 'hide_index'

In [382]:
 df_treated = df_treated.reset_index(drop=True)
#df_treated.style\
#    .highlight_max(subset=[4], color='green')\
#    .background_gradient(cmap='viridis', subset=[4])\
#    .set_properties(**{'border': '1.3px solid black', 'color': 'white'})
#

In [383]:
df_treated

,1,2,3,4,5,6,7,9,10
0,1,Bitcoin BTC,Comprar,"US$ 62.864,24",1.2%,0.4%,6.3%,US$ 27.908.976.296,US$ 1.242.093.117.563
1,2,Ethereum ETH,Comprar,"US$ 2.599,68",1.6%,1.7%,12.1%,US$ 16.777.671.908,US$ 312.644.440.924
2,3,Tether USDT,Comprar,"US$ 0,9996",0.2%,0.3%,0.3%,US$ 44.537.543.406,US$ 119.188.215.909
3,4,BNB BNB,Comprar,"US$ 601,42",1.1%,1.5%,10.7%,US$ 1.267.576.252,US$ 87.739.917.540
4,5,Solana SOL,Comprar,"US$ 144,82",2.0%,1.2%,10.0%,US$ 3.034.573.404,US$ 67.854.488.352
...,...,...,...,...,...,...,...,...,...
95,96,Klaytn KLAY,,"US$ 0,134",1.7%,1.3%,4.1%,US$ 12.356.853,US$ 777.833.222
96,97,Notcoin NOT,,"US$ 0,007558",2.5%,0.8%,2.5%,US$ 156.842.253,US$ 774.276.103
97,98,MultiversX EGLD,,"US$ 28,01",3.0%,1.7%,8.0%,US$ 21.527.722,US$ 769.219.667
98,99,Axie Infinity AXS,,"US$ 5,03",2.2%,1.5%,7.7%,US$ 33.556.858,US$ 758.308.860
99,100,Nervos Network CKB,,"US$ 0,01665",2.1%,3.9%,4.1%,US$ 163.065.059,US$ 747.861.728

In [384]:
df_treated.columns = [headers]
df_treated

,#,Moeda,Preço,1 h,24 h,7 d,Volume em 24 h,Capitalização de mercado,Últimos 7 dias
0,1,Bitcoin BTC,Comprar,"US$ 62.864,24",1.2%,0.4%,6.3%,US$ 27.908.976.296,US$ 1.242.093.117.563
1,2,Ethereum ETH,Comprar,"US$ 2.599,68",1.6%,1.7%,12.1%,US$ 16.777.671.908,US$ 312.644.440.924
2,3,Tether USDT,Comprar,"US$ 0,9996",0.2%,0.3%,0.3%,US$ 44.537.543.406,US$ 119.188.215.909
3,4,BNB BNB,Comprar,"US$ 601,42",1.1%,1.5%,10.7%,US$ 1.267.576.252,US$ 87.739.917.540
4,5,Solana SOL,Comprar,"US$ 144,82",2.0%,1.2%,10.0%,US$ 3.034.573.404,US$ 67.854.488.352
...,...,...,...,...,...,...,...,...,...
95,96,Klaytn KLAY,,"US$ 0,134",1.7%,1.3%,4.1%,US$ 12.356.853,US$ 777.833.222
96,97,Notcoin NOT,,"US$ 0,007558",2.5%,0.8%,2.5%,US$ 156.842.253,US$ 774.276.103
97,98,MultiversX EGLD,,"US$ 28,01",3.0%,1.7%,8.0%,US$ 21.527.722,US$ 769.219.667
98,99,Axie Infinity AXS,,"US$ 5,03",2.2%,1.5%,7.7%,US$ 33.556.858,US$ 758.308.860
99,100,Nervos Network CKB,,"US$ 0,01665",2.1%,3.9%,4.1%,US$ 163.065.059,US$ 747.861.728

In [ ]:
for row in rows:
    cells = row.find_elements(By.XPATH, './/td')
    table_data.append([cell.text for cell in cells])

In [ ]:
for row in rows:
    cells = row.find_elements(By.XPATH, './/td')
    table_data.append([cell.text for cell in cells])